doctype html
html(lang="en")
    head
        title Docker
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel="stylesheet", href="css/zenburn.css")
        link(rel="stylesheet", href="css/reveal.css")
        link(rel="stylesheet", href="css/theme/league.css")
        link(rel="stylesheet", href="css/main.css")
    body
        .reveal
            .slides
                section
                    h2 No Microservices?
                    h1
                        img.no-styles.docker-logo(src="img/docker_logo.png")
                        | Docker
                    h2 is still your best friend
                    aside.notes Всем привет, сегодня мы собрались для того чтобы пообщаться и может даже похоливарить на тему докера; Меня зовут Владимир; Давайте начнем с очевидных вопросов. Кто игрался с докером? А кто использовал в продакшн? Кто вообще не слышал?
                section
                    section
                        h3 About me
                        img.epam-logo.fragment.fade-in(src="img/EPAM_logo.png")
                        ul
                            li.fragment.fade-right 4+ years in EPAM
                            li.fragment.fade-right Lead Software Engineer
                            li.fragment.fade-right Fullstack Web Developer
                            li.fragment.fade-right .NET C#/F# and JavaScript/TypeScript
                            li.fragment.fade-right Currently TeamLead on JETC-DEV project
                        aside.notes Прежде чем начать, расскажу немного о себе; Сначала про работу; 4+ года и считаю что здесь можно расти и развивать и дальше
                    section
                        img.indian-img(src="img/indian_scientist.png")
                        ul
                            li.fragment.fade-right Love GitHub
                            li.fragment.fade-right Develop and contribute to Open Source
                            li.fragment.fade-right One of projects has 60 000+ downloads
                            li.fragment.fade-right Try to keep up with trends
                            li.fragment.fade-right Don't like serious presentations
                        aside.notes Если же говорить про свободное время, то

                section
                    section
                        p
                            img(src="img/how_i_met.png")
                        ul
                            li.fragment.fade-right First impressions in late 2015
                            li.fragment.fade-right Usage on project since November 2016
                        aside.notes В нескольких словах затрону тему того как я познакомился с Докером
                    section
                        h3 You could do the same!
                        p
                            img(src="img/surprised.gif")
                        aside.notes По ходу презентации вы сможете понять что вы так же можете начать его использовать даже если проект этого не предусматривает
                section
                    section
                        h3 Agenda
                        ul
                            li What's Docker?
                            li Containers
                            li Why do we need it?
                            li What about Windows?
                            li Demo
                                ul
                                    li Dockerfile
                                    li Build and run a container
                                    li Docker Ecosystem
                    section
                        h3 Agenda
                        ul
                            li Local Environment
                            li Demo
                                ul
                                    li docker-compose.yml
                                    li docker-compose CLI
                            li Continuous Integration
                            li Demo: CI on JETC-DEV
                    section
                        h3 Agenda
                        ul
                            li Pet Projects
                            li Github + Travis CI
                            li Azure $50 problem
                            li HTTPS?
                            li Alerts in Telegram...?!
                            li Elastic Search/Kibana
                            li Why and what to do next
                section
                    p Docker is a set of tools designed to make it easier to create, deploy, and run applications by using containers
                    p.fragment.fade-in
                        img(src="img/hmmm.gif" style="display:block; margin: 0 auto; height: 30vh")
                    ul
                        li.fragment.fade-right Containers existed before Docker (LCX)
                        li.fragment.fade-right Docker CLI, Docker Compose, Docker Hub, Docker Swarm
                    aside.notes Сначала рассмотрим определение; Вызывает недоумение, не так ли?; Многие путают понятия докера и контейнеров; ... Докер же в свою очередь сделал их удобными благодаря набору утилит
                section
                    section
                        h3 Containers
                        p
                            img(src="img/vm-vs-container.jpg")
                        aside.notes Похожи тем что обеспечивают изоляцию приложений друг от друга; Переиспользуют ядро; Меньше весят; Меньше ресурсов быстрее старт
                    section
                        h3 How it works?
                        ul
                            li Containers rely on Linux features
                            li.fragment.fade-right Thank you, Linus Torvalds
                        p
                            img.fragment.fade-in(src="img/linus_not_serious.jpg")
                        aside.notes Как же это происходит? Если вкратце, то все стало возможным из-за фич ОС линукс, которые вкупе и дают нам контейнеры. За которые можно благодарить создателя ядра - Линуса
                    section
                        h3 What features?
                        ul
                            li.fragment.fade-right Process isolation (namespaces)
                            li.fragment.fade-right Resource limitation (cgroups)
                            li.fragment.fade-right Virtual Networking
                            li.fragment.fade-right Image Layers
                            li.fragment.fade-right Copy on write filesystem
                section
                    h3 Why?
                    img.fragment.fade-in(src="img/why.jpg" style="display:block; margin: 0 auto; height: 20vh")
                    ul
                        li.fragment.fade-right Ease of use because of abstraction
                        li.fragment.fade-right Isolation
                        li.fragment.fade-right Infrastructure as a code
                        li.fragment.fade-right Same local, QA and PROD envs
                    aside.notes Зачем нам нужен еще один набор тулов, учить новую терминологию и тд?
                section
                    section
                        h3 What about Windows?
                        p.fragment.fade-in
                            img(src="img/linus_fuck.gif")
                    section
                        h3 Actually, it's not that bad
                        ul
                            li.fragment.fade-right  Windows Server 2016 and Windows 10
                            li.fragment.fade-right  Windows Nano and Core base images
                            li.fragment.fade-right  Run only on Windows
                            li.fragment.fade-right  Huge images
                            li.fragment.fade-right  4+ GB of memory used
                            li.fragment.fade-right  Long start time
                            li.fragment.fade-right Breaking changes and incompatibility between releases
                section
                    section
                        h3 Let's imagine that you've got a project with
                        ul
                            li SQL Server
                            li Apache Kafka (depends on Zookeeper)
                            li Some UI for Kafka
                            li Hashicorp Consul
                            li Hashicorp Vault
                            li Vault UI
                            li Redis
                            li 10+ developers
                    section
                        h3 [Icons Placeholder]
                    section
                        h4 One docker-compose.yml to rule them all
                        p  
                            img(src="img/one_ring_to_rule.jpg")

                        

        script(src="lib/js/head.min.js")
        script(src="js/reveal.js")
        script(src="js/main.js")
