doctype html
html(lang="en")
    head
        title Docker
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel="stylesheet", href="css/zenburn.css")
        link(rel="stylesheet", href="css/reveal.css")
        link(rel="stylesheet", href="css/theme/league.css")
        link(rel="stylesheet", href="css/main.css")
    body
        .reveal
            .slides
                section
                    h3 No Microservices?
                    h1 Docker is still your best friend
                    p
                        small by Volodymyr Osmak
                section
                    h2 second slide
                section
                    section
                        h3 third 1
                    section
                        h3 third 2



        script(src="lib/js/head.min.js")
        script(src="js/reveal.js")
        script(src="js/main.js")
