doctype html
html(lang="en")
    head
        title Docker
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel="stylesheet", href="css/zenburn.css")
        link(rel="stylesheet", href="css/reveal.css")
        link(rel="stylesheet", href="css/theme/league.css")
        link(rel="stylesheet", href="css/main.css")
    body
        .reveal
            .slides
                section
                    h2 No Microservices?
                    h1
                        img.no-styles.docker-logo(src="img/docker_logo.png")
                        | Docker
                    h2 is still your best friend
                section
                    section
                        h3 About me
                        img.epam-logo.fragment.fade-in(src="img/EPAM_logo.png")
                        ul
                            li.fragment.fade-right 4 years in EPAM
                            li.fragment.fade-right Lead Software Engineer
                            li.fragment.fade-right Fullstack Developer
                            li.fragment.fade-right .NET C#/F# and JavaScript/TypeScript
                            li.fragment.fade-right Currently TeamLead on JETC-DEV project
                    section
                        img.indian-img(src="img/indian_scientist.png")
                        li.fragment.fade-right Love GitHub
                        li.fragment.fade-right Develop and contribute to Open Source
                        li.fragment.fade-right One of projects has 60 000+ downloads
                        li.fragment.fade-right Try to keep up with trends
                        li.fragment.fade-right Don't like serious presentations
                section
                    section
                        p
                            img(src="img/how_i_met.png")
                        ul
                            li.fragment.fade-right First impressions in 2015
                            li.fragment.fade-right Usage on project since November 2016
                    section
                        h3 Everyone could do the same!
                        p
                            img(src="img/surprised.gif")
                section
                    section
                        h3 Agenda
                        ul
                            li What's Docker?
                            li Containers
                            li Why do we need it?
                            li Demo
                                ul
                                    li Docker Ecosystem
                                    li Dockerfile
                                    li Build and run a container
                    section
                        h3 Agenda
                        ul
                            li Local Environment
                            li Demo
                                ul
                                    li docker-compose.yml
                                    li docker-compose CLI
                            li Continuous Integration
                            li Demo: CI on JETC-DEV
                            li What about Windows?
                    section
                        h3 Agenda
                        ul
                            li Pet Projects
                            li Github + Travis CI
                            li Azure $50 problem
                            li HTTPS?
                            li Alerts in Telegram...?!
                            li Elastic Search/Kibana
                            li Why and what to do next
        script(src="lib/js/head.min.js")
        script(src="js/reveal.js")
        script(src="js/main.js")
