doctype html
html(lang="en")
    head
        title Docker
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel="stylesheet", href="/css/zenburn.css")
        link(rel="stylesheet", href="/css/reveal.css")
        link(rel="stylesheet", href="/css/theme/league.css")
        link(rel="stylesheet", href="/css/main.css")
    body
        .colored--red Hi there!

        script(src="/js/reveal.js")
        script(src="/js/main.js")
